<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="org.l3cache.model" />
	</typeAliases>

 	<mappers>
		<mapper resource="org/l3cache/dao/UserMapper.xml" />
		<mapper resource="org/l3cache/dao/PostMapper.xml" />
	</mappers>
</configuration>