<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PostMapper">
	<select id="selectRecentlyList" resultType="post">
		select 	P.post_id as pid, 
				P.title as title, 
				P.shopUrl as shopUrl,
				P.contents as contents,
				P.imgUrl as imgUrl, 
				P.price as price, 
				P.writeDate as writeDate, 
				P.write_user_id as writer, 
				P.read as readCount, 
				count(L.L3_POSTS_post_id) AS numLike 
		from L3_POSTS AS P
			LEFT JOIN LIKE_POSTS AS L 
			ON P.post_id = L.L3_POSTS_post_id group by P.post_id order by P.writeDate DESC LIMIT #{start},20;
	</select>
	
	<insert id="create">
		insert into L3_POSTS (title,shopUrl,contents,imgUrl,price,write_user_id) values(#{title},#{shopUrl} ,#{contents},#{imgUrl},#{price},#{writer});
	</insert>
	
	<select id="selectOnePost" resultType="post">
		select 	P.post_id as pid, 
				P.title as title, 
				P.shopUrl as shopUrl,
				P.contents as contents,
				P.imgUrl as imgUrl, 
				P.price as price, 
				P.writeDate as writeDate, 
				P.write_user_id as writer, 
				P.read as readCount, 
				count(L.L3_POSTS_post_id) AS numLike 
		from L3_POSTS AS P
			LEFT JOIN LIKE_POSTS AS L 
			ON P.post_id = L.L3_POSTS_post_id where P.post_id=#{pid};
	</select>
	

</mapper>